**/.ipynb_checkpoints
**/__pycache__
**/*.html
**/.DS_Store
notes.md
scratch
ignore
reference/chollet2018-DLwP.pdf
experiments/expt1/results
experiments/expt1/data/imdb_decoded.csv
experiments/expt1/data/pruned.word2vec.txt
experiments/expt1/data/rottentom_kaggle-train.tsv
experiments/expt1/data/rottentom_phrases_prepped.csv
experiments/expt1/_clutter
